*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
.todo-item{
margin-top: 1px;
padding: 2px 0px;
} 
.todo-text{
    margin: 0;
    font-size: 22px;
}
.remove-btn{
    width: 165px;
    margin-left: 13px;
}